#app {
	width: 60%;
	height: 100%;
	margin: auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	background-color: rgb(249, 248, 247);
	text-align: center;
	font-size: 20pt;

    #modal{
        
        width: 100%;
        height: 100%;
        background-color: rgba(59, 57, 57, 0.8);
        position: fixed;
        top: 0%;
        left: 0%;
            #popUp{
                width: 60%;
                height: 50%;
                margin: auto;
                // position: absolute;
                // top:2%;
                // right: 25%;
                background-color: rgba(255, 255, 255, 0.779);
                text-align: left;
                font-size: 20pt;
            }
    }
    

    input[type="text"] {
        margin: 0;
		width: 40%;
        height: 20px;
        font-size: 16pt;
	}
	
	select, input[type="number"], input[type="date"]  {
		width: 30%;
        font-size: 16pt;
	}
    multiple{
        height: 30px;
    }
    .output{
        font-size: 1rem;
        color: rgb(224, 14, 14);
    }
    .sel{
        font-size: 1rem;
        color: rgb(1, 141, 29);
    }
    
    span u{
        font-size: 20pt;
        color: rgb(6, 6, 6);
    }
    button{
        width: 30%;
        background-color: rgb(101, 235, 235);
        font-size: 15pt;
    }

}
@media(max-width: 980px){
   
    #app {
        width: 100%;
        margin: auto;
        display: flex;
        flex-flow: column wrap;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
        background-color: rgb(249, 248, 247);
        text-align: center;
        font-size: 35pt;
    
        #modal{
            width: 100%;
            height: 100%;
            background-color: rgba(59, 57, 57, 0.8);
            position: fixed;
            top: 0%;
            left: 0%;
                #popUp{
                    width: 100%;
                    height: 30%;
                    position: relative;
                    top: 100px;
                    margin: auto;
                    background-color: rgba(255, 255, 255, 0.779);
                    text-align: left;
                    font-size: 30pt;
                }
        }
        
    
        input[type="text"] {
            margin: auto;
            width: 70%;
            height: 100px;
            font-size: 28pt;
        }
        input[type="checkbox"], input[type="radio"] {
           margin: auto;
            width: 50px;
            height: 50px;

        }
        
        select, input[type="number"], input[type="date"]  {
            margin: auto;
            width: 70%;
            height: 100px;
            font-size: 28pt;
        }
        multiple{
            height: 80px;
            font-size: 28pt;
        }
        .output{
            font-size: 1rem;
            color: rgb(224, 14, 14);
        }
        .sel{
            font-size: 1rem;
            color: rgb(1, 141, 29);
        }
        
        span u{
            font-size: 36pt;
            color: rgb(6, 6, 6);
        }
        button{
            margin: auto;
            width: 60%;
            height: 50px;
            font-size: 16pt;
            background-color: rgb(101, 235, 235);
            font-size: 25pt;
        }
       
    }
    
}


